*{ 
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container{
    width:100%;
    min-height: 500px;
    border: 1px solid #000;
    display: flex;
    flex-direction: column;
}

.box
{
    width: 100%;
    height: 650px;
    display: flex;
    flex-direction: column;
    background-image: url("..//images/mobile4.jpg");
    background-size: 100% 100%;
    background-position: center;

}

.header{
    width: 100%;
    height: 50px;
    display: flex;
    flex-direction: row;
    padding: 20px;
}

.header .logo{
    width: 30%;
    flex-basis: 30%;

}

.logo img{
    width: 100px;
    height: 100px;
    float: right;
}

.header .menu{
    flex-basis: 40%;
    font-size: 1.3em;
}

.menu ul{
    display: flex;
    flex-direction:row ;
}

.menu ul li{
    list-style: none;
    padding: 20px;

}

.menu ul li a{
    text-decoration: none;
    color: rgb(255, 248, 248);

}

.menu ul li a:hover{
    background-color: rgb(45, 44, 45);
    padding: 10px;
}

.three_button{
    flex-basis: 30%;
    padding: 10px;
}

#f_button,#S_button, #D_button{
font-size: 2em;
padding: 10px;
padding-left: 20px;
padding-right: 20px;
border-radius: 50%;
border-width: 0;
margin: 10px;
outline: none;
}

.four_img{
    width: 100%;
    min-height: 300px;
    margin-top: 5px;
    display: flex;
    flex-direction: column;
}

.four_img .two{
    width: 70%;
    min-height: 350px;
    margin: auto;
    margin-top: 30px;
    display: flex;
    flex-direction: row;
    gap: 15px;
}

.two .img1{
    flex-basis: 50%;
    box-sizing: border-box;
}

.img1 img{
    width: 100%;
    height: 100%;
}

.two .img2{
    flex-basis: 50%;
    box-sizing: border-box;
}

.img2 img{
    width: 100%;
    height: 100%;
}


.three{
    width: 70%;
    height: 350px;
    display: flex;
    flex-direction: row;
    gap: 15px;
    margin: auto;
}

.three .img3, .img4{
    flex-basis: 50%;
    margin-top: 13px;
 

}

.img3 img ,.img4 img{
    width: 100%;
    height: 100%;

}

.one{
  width: 100%;
  min-height: 750px;
  background-image: url("..//images/monbile.webp");
  margin-top: 30px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% 100%;  
}

.footer{
    width: 100%;
    min-height: 350px;
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    background-color: burlywood;


}

.footer h1{
    margin-top: 20px;
    text-align: center;
    margin-bottom: 30px;
}
.footer .four{
    width: 80%;
    min-height: 200px;
    margin: auto;
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
    gap: 40px;
    
}

.four .box1 , .box2,.box3{
    flex-basis: 45%;
    justify-items: center;
    background-color: white;
    border: 2px solid #000;
    padding: 20px;
   }

   .box1 h2 , .box2 h2,.box3 h2{
    text-align: center;
    font-size: 2em;

   }

   .box1 p, .box2 p,.box3 p{
    text-align: justify;
    font-size: 1.2em;
   }


   .end{
    width: 100%;
    height: 40px;
    font-size: 1.5em;
    font-weight: 600;
    margin-top: 30px;
    text-align: center;
    padding: 10px;
    background-color:burlywood ;
   }



   @media only screen and (max-width:400px)
   {
    .container{
        width: 100%;
        flex-direction: column;

    }
    .header{
        flex-direction: column;
        width: 100%
    }

    .menu ul{
        flex-direction: column;
    }

    .four_img{
        width: 100%;
        min-height: 600px;
        flex-direction: column;
    }

   .four_img .two{
    width: 100%;    
    flex-direction: column;
    

    }
    .four_img .three{
        width: 100%;
        flex-direction: column;
            }

    .one{
        width: 400px;
        
    }

    .footer{
        width: 100%;
        flex-direction: column;
    }

    .footer .four{
        width: 100%;
        flex-direction: column;
    }

   }