.h1{
    color: blueviolet;
    width: auto;
    height: auto;
}

.h2{
    color: chocolate;
    width: auto;
    height: auto;
}

.p{
    color: hotpink;
    width: auto;
    height: auto;
}

.div{
    color: crimson;
    width: auto;
    height: auto;
}

.h5{
    color: darksalmon;
    width: auto;
    height: auto;
}